# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store

# Data files (optional later)
#*.csv
#*.json

# Spark
spark-warehouse/